body {
	margin-top: 0px;
	padding:0px ;
	text-align: left;
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #061C37;
	background-color: white;
}
*
{
  margin: 0 auto 0 auto;

 }

#container{
  height:1000px;
  position: relative; 
  width:900px;
  background-image: url(main.jpg)
}


#mainpic h1{
border: 29px solid white;
position:absolute;
text-align:left;
font-size:40px;
color:white;
top:220px;
}


#mainpic{
background-repeat:no-repeat;
width:900px;
height:354px;	
}

#menu
{
background-color: White;
width:940px;
height:70px;
}
#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:900px;
}
#menu li {
	list-style: none;
	padding: 0px;	
	display: inline;
}

#menu a,#menu a:visited {
	float: left;
	width: 150px;
	height: 40px;
	display: inline;
	text-align: center;
	text-decoration: underline;
	color:#3C3504;
	font-weight: bold;
	padding-top: 20px;
	font-size: 31px;
}
#menu1 li{
	font-size:40px;
	list-style: none;
	padding: 0px;	
	display: inline;
}
#menu1 ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:1000px;
}

#menu1 a,#menu1 a:visited {
	float: left;
	width: 180px;
	height: 50px;
	margin-top: 40px;
	display: inline;
	text-align: ;
	text-decoration: none;
	color:White;
	font-weight: bold;
	padding-top: 25px;
	padding-left:20px;
	font-size: 30px;
	border: 2px dashed white;
    border-radius: 25px;
	background-color:#2E140C;
}
#container1{
  height:1000px;
  position: relative; 
  width:900px;
 }

#mainpic1{
background-repat:no-repeat;
width:600px;
height:50px;

}
#mainpic1 h1{
position:absolute;
font-size:50px;
top:0px;
color:#2E140C;
text-shadow: 5px 5px 5px #AB938C
}

table{
margin-top:150px;
margin-left:0px;
font-size:50px;


}

html, body {
text-align: centre;
}
p {
text-align: left;
margin-top: 180px;
font-family: Verdana;
font-size: 20px;
color:black;
}

#aboutpage{
margin-top: 5px;
margin-left: 5px;
}
#tablehead{
color: black;
}